
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">nombre</th>
          <th scope="col">email</th>
          <th scope="col">area</th>
          <th scope="col">role</th>
          <th scope="col" class="text-center"> acciones </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios; let i=index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ usuario.nombre | titlecase }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.area.nombre | titlecase }}</td>
          <td>{{ usuario.role.nombre | titlecase }}</td>
          <td>
            <div class="d-flex justify-content-center">
                <div class="btn-group acciones-tabla" role="group">
                    <button type="button" class="btn" (click)="mostrarUsuario( usuario.id! )"><i class="bi bi-eye"></i></button>
                    <button type="button" class="btn" (click)="editarUsuario( usuario.id! )"><i class="bi bi-pencil-square"></i></button>
                    <button type="button" class="btn" (click)="eliminar( usuario.id!, usuario.nombre )" ><i class="bi bi-trash"></i></button>
                </div>
            </div>
        </tr>
      </tbody>
</table>
